<div class="container">
    
    <div class="card text-center col-10" >
        <div class=" row">
            <h2>registro</h2>
            <br>
            <form [formGroup]="registrar" (ngSubmit)="registrarUsuario()">
                <div class="form-group  ">
                    <input type="text " class="form-control" placeholder="usuario" formControlName="nombre">
                </div>
                <div class="form-group  ">
                    <input type="text " class="form-control" placeholder="apellido" formControlName="apellido">
                </div>
                <div class="form-group  ">
                    <input type="text " class="form-control" placeholder="genero" formControlName="genero">
                </div>
                <div class="form-group  ">
                    <input type="text " class="form-control" placeholder="correo" formControlName="correo">
                </div>
                <div class="form-group ">
                    <input type="password" class="form-control" placeholder="contraseña"  formControlName="password">
                </div>
               
                <div class="form-group">
                    <button type="button" class="btn btn-primary xl" type="submit" [disabled]="registrar.invalid">aceptar</button>
                    <button type="button" class="btn btn-primary xl" routerLink="/inicio/login">volver</button>


                </div>
              
            </form>
    </div>

</div>
